@import "./fonts.css";
@import "tailwindcss";

@theme {
  /* Configure Satoshi as the default sans font family */
  --font-family-sans: 'Satoshi', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  
  /* Map standard font weights to Tailwind utilities */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  /* colour scheme */
  --color-primary: #9d9d9d ;
  --color-secondary: rgb(255, 255, 255); /* White */
  --color-accent: #141414 
}



html,
body {
  @apply m-0 font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: auto;
  overflow-x: hidden;
  box-sizing: content-box;
  font-size: 0.99rem;
  line-height: 1.33;
  background:var(--color-secondary) ;
  color: var(--color-primary);
  
  }

  .img{
    will-change: transform;
    object-fit: cover;

  }

     .hamburger-line {
       width: 74px;
       height: 2px;
       background-color: #000;
       margin: 4px 0;
       transition: 0.3s;
     }
  
     .hamburger:hover .hamburger-line {
       background-color: #666;
     }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  @apply font-bold;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility col-center {
  @apply flex flex-col justify-center items-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility text-gradient {
  background: linear-gradient(to bottom, #ffffff, #898989);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@layer components {
  main {
    @apply w-full flex h-[100vh] overflow-hidden;
  }

  nav {
    @apply fixed z-50 w-full;

    div {
      @apply flex md:flex-row flex-col md:justify-between items-center gap-5 py-5 lg:px-0 px-5 container mx-auto;
    }

    p {
      @apply  text-3xl -mb-2;
    }

    a {
      @apply cursor-pointer text-nowrap md:text-base text-sm;
    }

    ul {
      @apply flex-center lg:gap-12 gap-7;
    }
  }

  .noisy {
    @apply absolute inset-0 size-full bg-[url("/images/noise.png")];
  }
}

